{% extends 'AppComercio/mainTemplate.html' %} {% load static %} 
{% block mainBlock %}

<h1>Empleados</h1>

<section id=section-form>
    <form id=cliente-form action="{% url 'empleados' %}" method="POST"> {% csrf_token %}

        {{formulario.as_p}}
    
    <input class="enviar" type="submit" value="Ingresar Empleado">

</form>
</section>

<div>
    <h3>{{mensaje}}</h3>
</div>

{% if empleados %}
<table id=tabla>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
      <th>Ingreso</th>
    </tr>
{% for data in empleados  %}
    <tr>
      <td>{{data.nombre}}</td>
      <td>{{data.apellido}}</td>
      <td>{{data.dni}}</td>
      <td>{{data.ingreso}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock mainBlock %}